.taskCard {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  .taskCard h4 {
    margin-bottom: 5px;
  }
  
  .taskCard p {
    margin: 0;
  }
  